body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 30px;
    background-color: #f2f2f2;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.box-container {
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
}

.box {
    width: 250px;
    border: 3px solid black;
    background-color: #ffffff;
}

.box-padding {
    padding: 30px;
    background-color: #d9ecff;
}

.box-margin {
    margin: 30px;
    background-color: #ffe0e0;
}


.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.card {
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
}

.card h3 {
    margin-top: 0;
}

.price {
    font-weight: bold;
    color: green;
    font-size: 18px;
}

.card button {
    margin-top: 10px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

.card button:hover {
    background-color: #388e3c;
}
